<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=Edge,Chrome=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>借阅历史</title>
    <link rel="stylesheet" href="/dist/lib/weui.css">
    <link rel="stylesheet" href="/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body class="lendHistory">        
    <%- html %>
<script src="/dist/lib/jquery-2.1.4.js"></script>
<script src="/dist/js/jquery-weui.js"></script>
<script>
</script>
</body>
</html>