<!DOCTYPE html>
<html lang="zh-CN">   
<head>
    <title>网络错误！</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/dist/lib/weui.css">
    <link rel="stylesheet" href="/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
	<header class="header err-header">
		<h1 class="title">( ▼-▼ )</h1>
	</header>
	<div class="err-wrapper weui_text_area">
		<p class="weui_msg_desc">
            网络信号弱、不稳定导致访问失败,请关闭页面再重新访问
        </p>
	</div>
</body>
</html>