<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=Edge,Chrome=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>等级考试详情</title>
    <link rel="stylesheet" href="/dist/lib/weui.css">
    <link rel="stylesheet" href="/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body> 
  <%  for (var index = 1; index < result.length; index++) { %>
    <div class="weui_cells allowOneLine">
       <% for (var _index = 0; _index < result[index].length; _index++) { %>
       <% if(result[index][_index].indexOf('&nbsp;')===-1) { %>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <%= result[0][_index] %>
                </p>
            </div>
            <div class="weui_cell_ft">
                <%= result[index][_index] %>
            </div>
        </div>
       <% } %> 
       <% } %> 
    </div>
   <% } %> 
            
    
<script src="/dist/lib/jquery-2.1.4.js"></script>
<script src="/dist/js/jquery-weui.js"></script>
</body>
</html>